body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.overlay {
  position:fixed;
  background-image: url("../assets/ChatGPT Image Aug 1, 2025, 10_34_40 AM.png");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  z-index: -1;
}

.login-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.p-header {
  color: #4b5563;
  text-align: left;
  margin-bottom: 40px;
  margin-top: -10px;
}

label {
  display: block;
  text-align: left;
  margin: 1rem 0 0.5rem;
  font-size: 1.1rem;
  color: #555;
}
input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.1rem;
  background-color: #4682b4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color:#4169e1;
}

/* a:hover {
  color: #555;
} */

.flex-container{
  display:flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.or-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
}

.or-divider .or-line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.or-divider .or-text {
  font-size: 14px;
  color: #777;
  padding: 0 8px;
  font-weight: 500;
}